.service{
    position: relative;
    .service-item{
        display: flex;
    }
    .service-icon{
        .icon-shape{
            position: relative;
            width: 85px;
            line-height: 100px;
            text-align: center;
            margin-right: 20px;
            span{
                position: relative;
                z-index: 1;
                font-size: 35px;
                background: var(--gradiant-color);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                }
            .svg-shape{
                position: absolute;
                top: -3px;
                left: 0;   
            }
        }
    }
    .service-contant{
        h6{
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            color: var(--primary-color);
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 2;
            color: var(--text-color);
            margin-bottom: 20px;
        }
        a{
            font-size: 11px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--primary-color);
            span{
                background-color: transparent;
                padding: 0;
                margin: 0;
            }
        }
    }
    
}